@mixin flex($direct: row, $gap: 0, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direct;
    gap: $gap;
    justify-content: $justify;
    align-items: $align;
}

@mixin button() {
    border-radius: 9999px;
    height: 2.5em;
}

@mixin primary-btn($color: white, $bg-color: #7C5CFC) {
    display: block;
    border-radius: 9999px;
    color: $color;
    background-color: $bg-color;
    height: 3em;
    text-align: center;
}

@mixin secondary-btn() {
    @include primary-btn();
    color: white;
    background-color: #1A202C;
}

@mixin text-style($size: 1rem, $wt: 400, $color: null, $align: left, $line-ht: 1.5) {
    font: {
        size: $size;
        weight: $wt;
    }
    line-height: 1.5;
    text-align: $align;
    @if $color != null {
        color: $color;
    }
}