// NOTE: Only use variables in main styles.scss

$primary-color-dark: #0D121F;
$primary-color-mid: #7C5CFC;
$grey-mid: #90A3BF;
$grey-dark: #596780;
$grey-light: #C3D4E9;
$black21: #212121; //21 x3
$black222: #1A202C; // values are close to #222
$blackb15: #040815; //blue 15 is more significant here
$border-color: #CEBEFE;
$white357: #F3F5F7; // f-357