*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", "Arial", "sans-serif";
}

button {
  background: none;
  border: none;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  padding: 0 0 0 25px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1607843137);
}
nav #open-menu-button {
  cursor: pointer;
  height: 100%;
  width: 5rem;
  padding: 0 1.25rem;
  transition: background-color 0.2s ease;
}
nav #open-menu-button svg {
  width: 1.25rem;
  height: 1.25rem;
}
nav #open-menu-button:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
nav menu {
  display: none;
}

:root {
  font-size: 16px;
}

body {
  background-color: #0D121F;
  color: white;
}

section {
  padding: 30px;
}

.section-icon {
  width: 32px;
  height: 32px;
}

p {
  font-size: 0.875rem;
}

.logo-group {
  font-size: 1.125rem;
  font-weight: 400;
  color: white;
  display: flex;
  flex-direction: row;
  gap: 0.5833333333em;
  justify-content: center;
  align-items: center;
}
.logo-group .company-name {
  font-family: "Space Grotesk";
  font-size: 1em;
}
.logo-group .logo {
  height: 1.1666666667em;
}

section.appeal h1 {
  color: #7C5CFC;
  font-size: 0.75rem;
  font-weight: 600;
  color: #7C5CFC;
}
section.appeal h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}
section.appeal h3 {
  font-size: 1.125rem;
  font-weight: 600;
  color: white;
}
section.appeal p {
  color: #90A3BF;
}
section.appeal p.white-text {
  color: white;
}

.white-bg {
  background-color: white;
  color: #0D121F;
}
.white-bg p {
  color: #596780;
}

.appeal.white-bg h2 {
  color: #0D121F;
}
.appeal.white-bg p {
  color: #0D121F;
}
.appeal.white-bg ul li {
  color: #0D121F;
}

.primary-button {
  display: block;
  border-radius: 9999px;
  color: white;
  background-color: #7C5CFC;
  height: 2.25em;
  text-align: center;
}

a.primary-button {
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.link {
  color: #596780;
}

#hero-section {
  padding-top: 50px;
  padding-bottom: 60px;
}
#hero-section h1 {
  font-size: 2.25rem;
  line-height: 1.5;
  padding-bottom: 0.6em;
}
#hero-section p {
  color: #90A3BF;
  line-height: 1.5;
}
#hero-section a.primary-button {
  margin: 24px 0;
}
#hero-section a.link {
  padding: 0.5em;
  display: block;
  width: auto;
  margin: auto;
  text-align: center;
}
#hero-section .dashboard-img {
  margin-top: 50px;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.testimonial .header {
  font-size: 1rem;
  font-weight: 600;
  color: white;
  line-height: 1.5;
}
.testimonial p {
  color: #F3F5F7;
}
.testimonial .client-name {
  color: white;
}
.testimonial .client-role {
  color: #C3D4E9;
}

footer.white-bg .logo-group {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1A202C;
}
footer.white-bg .logo-group svg g path {
  fill: #7C5CFC;
}
footer.white-bg h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1A202C;
}
footer.white-bg a.link {
  line-height: 1.5;
}
footer.white-bg a.policy {
  font-size: 1.125rem;
  font-weight: 600;
  color: #1A202C;
}
footer.white-bg .copyright {
  font-size: 1rem;
  font-weight: 500;
  color: #596780;
  line-height: 1.5;
}/*# sourceMappingURL=style.css.map */