@use "index";

body {
    background-color: index.$primary-color-dark;
    color: index.$white357;
}
.hidden { display: none }

//Brand Component = Logo + Company Name

.brand {
    @include index.text-style($size: 1.125rem, $color: index.$white357);

    //keep name , gap and logo size proportional
    @include index.flex($gap: calc(1em * 7 / 12));
    .logo { height: calc(1em * 7 / 6) }
    .companyname {
        font-family: 'Space Grotesk';
        font-size: 1em;
    }
}

// Base styles
.section {
    padding: 30px;
}
// Also applies 1.5 line height and 400 font-weight
p { @include index.text-style(0.875rem) }


.primary-button {
    @include index.primary-btn();
}

// Logo + company name

.hero-section {
    padding-top: 50px;
    padding-bottom: 60px;
    
    .section-heading {
        font-size: 2.25rem;
        line-height: 1.5;
        padding-bottom: 0.6em;
    }

    .primary-button { margin: 24px 0; } // This margin is specific to the hero section

    .dashboard-img {
        margin-top: 50px;
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
}

.section-subtext { color: index.$grey-mid }

.section-link {
    @include index.flex();
    height: 3em;
    color: index.$grey-dark;
    cursor: pointer;
}

// Contains 'section-title', 'section-headline' and 'section-subtext'
.section-header {
    margin-bottom: 2em;
}
.section-title {
    @include index.text-style(0.75rem, 600, index.$primary-color-mid);
}
.section-headline {
    @include index.text-style(1.5rem, 700);
    margin-bottom: 0.5em;
}

// Specific to 'Benefits' section

/*

*********************************
*               *               *
*       1       *       2       *
*               *               *
*********************************
*                               *
*               3               *
*                               *
*********************************

*/

.benefit-grid {
    $icon-length: 32px;
    display: grid;
    grid-template-columns: $icon-length 1fr;
    gap: 1em;
    margin-bottom: 2em;

    .benefit-icon {
        width: $icon-length;
        height: $icon-length;
    }
    .benefit-column {
        @include index.flex(column, $align: first baseline);
        gap: 0.75em;
    }
}
.benefit-title { @include index.text-style($wt: 600) }

// 'How it works' section

.steps-container {
    @include index.flex(column, 14px);
    padding: 0 10%;
    margin-bottom: 2em;
}
.step-text {
    @include index.text-style(0.875rem, 500, index.$white357, center);
    padding: 0 12vw;
} 
#how-it-works .primary-button {
    margin-top: 3em; // Must be greater than steps-container margin to
    margin-bottom: 1em;
}


// Increase productivity section

.slider-container {
    background-color: grey;
    height: 3em;
    margin-bottom: 2em;
}

.spendin-list-container {
    @include index.flex(column, 1.5em);
    width: 100%;
}

.list-title {
    @include index.text-style($wt: 700, $color: index.$primary-color-dark);
}
.spendin-list li {
    @include index.text-style(0.75rem, 500, index.$primary-color-dark);
    margin-bottom: 1em;
}


// 'Testimonials' section

.testimonial {
    .header {
        @include index.text-style($wt: 600, $color: white);
        line-height: 1.5;
    }
    p { color: index.$white357 }
    .client-name {
        color: white; //Inherits white from the body already so could remove this
    }
    .client-role {
        color: index.$grey-light;
    }
}

.footer.white-bg {
    .brand {
        @include index.text-style(1.5rem, 700, index.$black222);
        svg g path {
            fill: index.$primary-color-mid;
        }
    }

    h3 { @include index.text-style(1.25rem, 600, index.$black222) }
    a.link { line-height: 1.5 }

    a.policy { @include index.text-style(1.125rem, 600, index.$black222) }

    .copyright {
        @include index.text-style($wt: 500, $color: index.$grey-dark);
        line-height: 1.5;
    }
}

// Media Queries

@media (min-width: 768px) {
    .sm-screen-only {
        display: none;
    }
}

@media (min-width: 1024px) {
    #hero-section {
        padding: 100px 120px;
        h1 {
            @include index.text-style(4.5rem, 700, white, center);
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
        a {
            font-size: 1rem;
        }
    }
}