@use "../abstracts/index" as *;

.hero-section {
    padding-top: 50px;
    padding-bottom: 60px;
    
    .section-heading {
        font-size: 2.25rem;
        line-height: 1.5;
        padding-bottom: 0.6em;
    }

    .primary-button { margin: 24px 0; } // This margin is specific to the hero section

    .dashboard-img {
        margin-top: 50px;
        width: 100%;
        height: auto;
        border-radius: 4px;
    }
}

@media (min-width: 1024px) {
    #hero-section {
        padding: 100px 120px;
        h1 {
            @include text-style(4.5rem, 700, white, center);
        }
        p {
            font-size: 1.5rem;
            text-align: center;
        }
        a {
            font-size: 1rem;
        }
    }
}