@use "../abstracts/index" as *;

.how-layout-1 {
    margin-bottom: 70px;
}

.how-layout-2 {
    @include respond(desktop) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 0 min(4vw,102px);

        .section-header {
            margin: 0 0 0.7rem 0;
        }
        .allsteps-img {
            grid-row: 1 / span 2;
            grid-column: 1 / span 1;
            align-self: last baseline;
        } 
    }
}

.allsteps-container {
    @include respond(desktop) {
        @include flex($gap:40px, $justify: space-around, $align: first baseline);
        max-width: 700px;
        margin: auto;
        .step-container, .step-text {
            padding: 0;
        }
        .step-text {
            margin: auto;
            width: 80%;
            transform: translateX(4.5%); //account for the circle numbers
        }
    }
}

.steps-container {
    display: grid;
    grid-template-columns: 32px 1fr;
    gap: 3rem 1rem;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    background-color: $black222;
    font-size: 0.875rem;

    @include respond(desktop) {
        grid-template-columns: 48px 1fr;
        gap: 0 1rem;
        padding: 32px;
        border-radius: 12px;
        font-size: 1.25rem
    }

    .circle-number{
        $radius: 32px;
        @include flex();
        width: $radius;
        height: $radius;
        background-color: $primary-color-mid;
        border-radius: 50%;
        @include respond(desktop){
            $radius: 48px;
            width: $radius;
            height: $radius;
        }
    }
    .circle-number.last {
        background-color: $white;
        color: $primary-color-dark;
    }
    p {
        display: inline-block;
        font-size: 1em;
    }
}

.step-container {
    @include flex(column, 14px);
    padding: 0 10%;
    margin-bottom: 2em;
}
.step-text {
    @include text-style(0.875rem, 500, $white357, center);
    padding: 0 12vw;
}