@use "../abstracts/index" as *;

.steps-container {
    @include flex(column, 14px);
    padding: 0 10%;
    margin-bottom: 2em;
}
.step-text {
    @include text-style(0.875rem, 500, $white357, center);
    padding: 0 12vw;
}