@use "../abstracts/index" as *;

// Button container is located in the buttons file

.spendin-list-container {
    @include flex(column, 1.5em, $align: first baseline);
    width: 100%;
}

.list-title {
    @include text-style($wt: 700, $color: $primary-color-dark);
}

.stats {
    align-self: center;
    border-radius: 8px;
}