@use "../abstracts/index" as *;

.testimonial {
    background-color: $black222;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 30px;
    
    .testimonial-text {
        @include flex(column, 20px, $align: first baseline);
    }
    .client-info {
        $pic-size: 58px;

        margin-top: 1.5rem;
        border-top: solid 1px $grey-mid;
        padding-top: 1.5rem;
        display: inline-grid;
        width: 100%;
        grid-template-columns:  $pic-size 1fr;
        column-gap: 1rem;

        .client-pic {
            aspect-ratio: 1 / 1;
            height: $pic-size;
            grid-row: 1 / span 2;
        }
        .client-name {
            color: $white357; //Inherits white from the body already so could remove this
        }
        .client-role {
            color: $grey-light;
        }
    }

}

// Desktop styles

#testimonials {
    @include respond(desktop) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;

        .section-header { grid-column: 1 / span 3 }

        .testimonial { @include flex(column) }
        
        .testimonial-title { font-size: 1.125rem }
        .testimonial-subtext { font-size: 1rem }
        
        .client-name { font-size: 1.125rem }
        .client-role { font-size: 0.875rem }
        
        .client-info { margin-top: auto } //Bring all client info to same level
        .testimonial-text { margin-bottom: 1rem } //Put space between text and client info
    }
}