@use "../abstracts/index" as *;

body {
    background-color: $primary-color-dark;
    color: $white;
}

a { @include text-style($color: $grey-light) }

.hidden { display: none }

.section, .footer {
    padding: 50px 30px;
}
.section-link {
    @include flex();
    height: 3em;
    color: $grey-dark;
    cursor: pointer;
}
// Contains 'section-title', 'section-headline' and 'section-subtext'
.section-header {
    margin-bottom: 2em;
}
.section-title {
    @include text-style(0.75rem, 600, $primary-color-mid);
}
.section-headline {
    @include text-style(1.5rem, 700);
    margin-bottom: 0.5em;
}

.section-whitebg {
    @include white-bg();
    .section-headline {
        color: $primary-color-dark;
    }
    p { color: $grey-dark }
}

.section {
    @include respond(desktop) {
        .section-title, .section-headline, .section-subtext {
            text-align: center;
        }
        .section-title, .section-subtext { font-size: 1.25rem }
        .section-headline { font-size: 2.5rem }
    }
}

.sm-screen-only {
    @include respond(tablet) {
        display: none;
    }
}