@use "../abstracts/index" as *;
@use "sass:color";

.primary-button {
    @include primary-btn();
    transition: background 0.3s ease;
    &:hover {
        // primary buttons are by default $primary-color-mid change
        background-color: color.adjust($color: $primary-color-mid, $lightness: 12%)
    }
}

.button-group {
    @include respond(desktop) {
        @include flex(row, 1.5rem);

        .primary-button, .section-link {
            font-size: 1rem;
            @include flex();
            height: 3.25em;
        }
        .section-link {
            @include primary-btn($bg-color: $black222);
            transition: background-color 0.3s ease;
            &:hover {
                background-color: color.adjust($color: $black222, $lightness: 15%);
            }
        }
    }
}

// To be continued
.slider-container {
    background-color: $white357;
    border-radius: 9999px;
    margin-bottom: 2em;

    .button {
        @include rounded();
        color: $grey-mid;
    }
    .active {
        color: $white;
        background-color: $primary-color-mid;
    }
}