@use "../abstracts/index" as *;

.userplan-card {
    background-color: $white-ed;
    margin-top: 30px;
    border-radius: 10px;
    padding: 32px;
    @include flex(column, $align: first baseline);
    height: 100%;

    .plan-logotitle-group {
        @include flex(row, 0.75rem, flex-start);
    }
    .plan-title, .plan-icon { display: inline-block }
    .primary-button { font-weight: 600 }

    @include respond(desktop){
        margin: 0;
        height: 100%;
        .plan-title { font-size: 2rem }
        .plan-icon { height:32px; width:32px;}
        .price-bold { font-size: 2.5rem }
        .price { font-size: 1.125rem }
    }
}

.price { margin: 25px 0}
.price-bold {
    @include text-style(2em, 600, $primary-color-dark);
}

.features-list {
   margin: 25px 0;
}