@use "../abstracts/index" as *;

.promo-container {
    margin-bottom: 100px;
    @include flex(column);

    .promo-options {
        position: relative;
        @include flex($gap: 16px);
    }
    .promo-option {
        display: inline-block;
        @include text-style(1.25rem, 600, $black0c)
    }

    #promo-checkbox {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    .circle-slider {
        display: inline-block;
        position: relative;
        width: 70px;
        height: 36px;
        background-color: $primary-color-mid;
        border-radius: 9999px;
        cursor: pointer;
    }
    .circle-slider::after {
        content: "";
        position: absolute;
        top: 4px;
        right: 4px;
        width: 28px;
        height: 28px;
        background-color: $white;
        border-radius: 9999px;
    }

    .floating-img {
        position: absolute;
        right: 0;
        bottom: -175%;
    }

    .promo-text {
        position: absolute;
        bottom: -150%;
        left: 50%;
        transform: translateX(-2em);
        display: inline-block;
        margin: auto;
        @include rounded(0.41em);
        width: 6.36em;
        height: 2.07em;
        background-color: $primary-color-vlight;
        color: $primary-color-dark;
        text-align: center;
    }
}