@use "../abstracts/index" as *;
@use "sass:color";

.sidemenu {
    $padding-side: 25px;

    @include flex(column, $justify: flex-start);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: $primary-color-dark;
    padding-bottom: 50px;
    transform: translateX(100%);
    transition: transform 0.3s ease;

    .menu-header {
        width: 100%;
        @include flex($justify: space-between);
        @include nav-top();
        padding-left: $padding-side;
        margin-bottom: 30px;
    }
    .nav-menu {
        width: 100%;
        @include flex(column, $align: first baseline);

        .navmenu-option {
            padding: 10px 0 0 40px;
            width: 100%;
            height: 3em;
            transition: background 0.3s ease;
            &:hover {
                background-color: color.adjust($color: $primary-color-dark, $lightness: 25%);
            }
        }
    }

    .button-group {
        margin-top: auto;
        width: 100%;
        padding: 0 $padding-side;
    }
}